@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Fields" asp-action="Create" class="btn-group-vertical">Dodaj nowe pole</a>
    <br />
    <a asp-controller="Forms" asp-action="Create">Stwórz formularz</a>
    <br />
    <a asp-controller="Forms" asp-action="ListaFormularzy">Wyświetl stworzone formularze</a>
</div>
